{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock%}


{% block main %}
<h1 class="page-header">Profile</h1>

<div class="main">
    <div class="section1">
       <img id="profile-picture" src="{{ url_for('static', filename='img/profile.jpeg')}} " alt="Picture of Myself">
    </div>

    <div class="section2">
        <div id="user" class="divider">
             <h4> {{ name }} </h4>
        </div>
        <div id="date" class="divider">
            <p>Today's date is {{ time }}</p>
        </div>
        <div id="basic" class="divider">
            <dl>
                <dt>Username: </dt><dd>Fire-X01</dd>
                <dt>ID Number: </dt><dd>101010101</dd>
                <dt>Age: </dt><dd>Infinity</dd>
                <dt>Gender: </dt><dd>Female</dd>
            </dl>
        </div>
        <div id="about" class="divider">
            <p>I am cyclically reborn from the ashes of my eternal flames.</p>
            <p>#X-MEN</p>
        </div>
    </div>
</div>
{% endblock %}
